@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

.lexend-font {
  font-family: "Lexend", sans-serif;
  font-style: normal;
}
/* navbar btn style */
.body{
    width: 1140px;
    margin: auto;
}
header{
    position: sticky;
    top: 0;
}
.sticky{
    position: sticky;
    top: 74px;
    
}
.navbar-btn{
    height: 50px;
    width: 110px;
    background-color: #B4F461;
    border-radius: 10px;
    font-size: 1.25rem;
}
.navbar-logo{
    height: 50px;
    width: auto;
    font-size: 1.25rem;
    gap: 15px;
}
.navbar-money{
    font-size: 1.25rem;
   
    
}
/* main section style start */
.main-donation-btn{
    height: 50px;
    width: 110px;
    background-color: #B4F461;
    border-radius: 10px;
    font-size: 1.25rem;
    padding: 10px;
}
.main-history-btn{
    height: 50px;
    width: 110px;
    border-radius: 10px;
    font-size: 1.25rem;
    padding: 10px;
}
.main-container{
    width: 1140px;
    height: auto;
}
.card-container{
    border: 1px solid rgb(234, 231, 231);
    border-radius: 10px;
    padding: 20px;
}
.card-section2-container{
    width: 550px;
    height: auto;
}
.card-balance-btn{
    font-size: 1.25rem;
    background-color: aliceblue;
    padding: 5px;
    border-radius: 10px;
    width: 160px;
    margin-bottom: 5px;
}
.card-textarea{
    width: 510px;
    height: 50px;
    border: 1px solid rgb(207, 199, 248);
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}
.card-submit-btn{
    width: 510px;
    height: 50px;
    background-color: #B4F461;
    border-radius: 10px;
    margin-top: 20px;
}


/* popup style start */

.popup {
    /* display: none; Hidden by default */
    visibility: hidden;
    position: fixed;
    top: 220px;
    left: 600px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
.open-popup{
    visibility: visible;
    top: 220px;
    left: 600px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.popup-content h2 {
    margin-top: 0;
    color: #333;
}

.coin-icon {
    font-size: 2em;
    margin: 10px 0;
}

.popup-content p {
    color: #555;
    margin: 10px 0;
}
button {
    background-color: #555;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ebdddd;
}
